@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900');
@import "../../static/css/linearicons.css";
@import "../../static/css/font-awesome.min.css";
@import "../../static/css/bootstrap.css";
@import "../../static/css/magnific-popup.css";
@import "../../static/css/nice-select.css";
@import "../../static/css/animate.min.css";
@import "../../static/css/owl.carousel.css";
@import "../../static/css/main.css";

/*avoid superposition between header and anchors*/

section:target {
    padding-top: 150px;
    margin-top: -50px;
}